
body{
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 20px;
}

.selecao_do_jg{
    width: 170px;
    height: 80px;
    display:grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.selecao_do_jg h1{
    grid-column-start: 1;
    grid-column-end: 3;
}

.selecao_do_jg .vez_do_jg{
    border: 2px solid #000;
    font-weight: bold;
    background-color: #c1bfbf ;
}

#resultado{
    padding-top: 5rem;
    color: red;
    font-weight: bold;
}

.blocos_container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    padding-top: 20px;
}

.quadrado{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    font-size: 50px;
    cursor:pointer;
}

.quadrado:hover{
    background-color:#c1bfbf ;
}

button{
    margin-top: 2rem;
    padding: 5px 5px 5px;
    color: aliceblue;
    background-color: #5e5e5e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: red;
}